.App {
  text-align: center;
  background-color: #252d2d;
  accent-color: #17bcde;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation a {
  color: #17bcde;
}

.navigation a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
}

.navigation a:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
}

.footer {
  border-top:2px solid #cddee5;
  position: relative;
  width: 100%;
  bottom: 0;
  color: #17bcde;
  font-size: 25px;
}