.App {
  text-align: center;
  background-color:#110e08; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
  --bs-nav-link-color: #ffcd51;
}

.navigation {
  height: 8vh;
  /* text-align: center; */
  color: #c2cdc0;
  background-color:#110e08; 
  border-bottom: 2px solid black;
  opacity: .8;
}
.link:hover {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.07);
}

.link:focus {
  /* color: #cddee5; */
  background-color: rgba(255, 255, 255, 0.07);
}

.navbarbrand {
  color:#ffcd51;
}

.footer {
  border-top:2px solid #cddee5;
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 25px;
}

.link {
  color: #cddee5;
}

.intake {
  color: #252d2d;
}