.App {
  text-align: center;
  background-color: #252d2d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #d2d5d1;
}

.navigation {
  height: 8vh;
  /* text-align: center; */
  color: #cddee5;
  background-color: #252d2d;
  border-bottom: 2px solid black;
}
.link:hover {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.07);
}

.link:focus {
  /* color: #cddee5; */
  background-color: rgba(255, 255, 255, 0.07);
}

.navbarbrand {
  color: #17bcde;
}

.footer {
  border-top: 2px solid #cddee5;
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 25px;
}

.link {
  color: #cddee5;
}

.intake {
  color: #252d2d;
}

.hamburger {
  display: none;
}

.media {
  display: none;
}

/*-----NAVBAR MEDIA QUIERES-----*/

@media screen and (max-width: 650px) {
  .navbarbrand {
    display: block;
  }
  .sticky-top {
    display: none;
  }

  .media {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 10px 0px;
  }

  /* The dropdown container */
  .dropDown {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
  }

  /* Dropdown button */
  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
  }

  .dropdown-content {
    background-color: #cbc9c9;
    margin-top: 15px;
    background-color: #252d2d;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 20px 0px;
    text-decoration: none;
    text-align: left;
    width: 100vw;
    text-align: center;
    font-size: larger;
    color: white;
  }
  .dropdown-content a:hover {
    background-color: #8f9698;
    color: #252d2d;
  }
.button {
  font-size: 15px;
  width: 50vw;
  border-radius: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.button:hover {
  background-color: #252d2d;
  font-size: 15px;
  width: 50vw;
  border-radius: 50px;
}
