* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  overflow-y: hidden;
  width: 400px;
  height: 200px;
}

.aboutedit {
  padding-left: 10%;
  padding-right: 10%;
}

.mainHeader {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  overflow-y: hidden;
}

.mainHeader h1 {
  /* font: 4rem; */
  margin-bottom: 2rem;
  /* line-height: 1.2; */
  font-size: 3rem;
  font-family: Georgia, serif;
  overflow-y: hidden;
  color: #c2cdc0;
}

.mainHeader h1 span {
  color: #ffcd51;
  /* font-size: 60px; */
  overflow-y: hidden;
}

.mainHeader p {
  overflow-y: hidden;
  color: #c2cdc0;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  /* margin-left: 8%; */
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 5rem;
  overflow-y: hidden;
  /* border-top: 0.5px solid rgb(125, 127, 129, 0.5);
  border-bottom: 0.5px solid rgb(125, 127, 129, 0.5); */
}

.card:nth-child(even) img {
  order: 1;
  overflow-y: hidden;
  margin: 0 auto;
}

.card h3 {
  margin-bottom: 1rem;
  overflow-y: hidden;
  /* color: #cddee5; */
}

.card p {
  color: #c2cdc0;
}
.card span {
  margin-bottom: 2rem;
  overflow-y: hidden;
}

.card img {
  margin-bottom: 20px;
  margin-top: 15px;
  height: 350px;
  object-fit: cover;
  overflow-y: hidden;
}

.card h3 {
  color: #ffcd51;
  overflow-y: hidden;
}

.card > div {
  padding: 1rem;
  overflow-y: hidden;
}

.card:nth-child(even) img {
  order: 2;
  overflow-y: hidden;
}

.card:nth-child(even) {
  order: 2;
  overflow-y: hidden;
  grid-gap: 50px;
}

.card:nth-child(even) span {
  order: 2;
  overflow-y: hidden;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  /* font-size: larger; */
  overflow-y: hidden;
}

/* .form h1 {
  justify-content: center;
  text-align: center;
  color: #ffcd51;
  overflow-y: hidden;
  margin-right: 10%;
} */

.p {
  overflow-x: hidden;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  max-width: fit-content;
}

.inTouch {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 800px) {
  * {
    margin-left: 0px;
    padding-left: 0px;
  }

  .header {
    overflow-x: hidden;
    width: 100vw;
  }

  .p {
    overflow-x: hidden;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
  }

  .container {
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card > div {
    width: 100vw;
  }

  .card {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0%;
  }
  .card > img {
    overflow-x: hidden;
    height: auto;
    width: 100vw;
    padding: 7px;
  }

  .card:nth-child(even) img {
    overflow-x: hidden;
    order: 0;
    overflow-y: hidden;
    width: 100vw;
    margin: 0%;
  }

  .description {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .form {
    overflow-x: hidden;
    width: 100vw;
  }
  .card p {
    overflow-x: hidden;
    width: 100vw;
    overflow-x: hidden;
  }
}
