* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .image {
    overflow-y: hidden;
    width: 400px;
    height: 200px;
  }
  
  .mainHeader {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    overflow-y: hidden;
  }
  
  .mainHeader h1 {
    color: #c2cdc0;
    font: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 60px;
    overflow-y: hidden;
    font-family: Georgia, serif;

  }
  
  .mainHeader h1 span {
    color: #ffcd51;
    font-size: 60px;
    overflow-y: hidden;
  }
  
  .mainHeader p {
    overflow-y: hidden;
    color: #cddee5;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 8%;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 5rem;
    overflow-y: hidden;
    align-items: center;
    /* border: 1px solid rgb(125, 127, 129, 0.5); */
  }
  
  .card:nth-child(even) img {
    order: 1;
    overflow-y: hidden;
    margin: 0 auto;
  }
  
  .card h3 {
    margin-bottom: 1rem;
    overflow-y: hidden;
  }
  
  .card p {
    color: #cddee5;
  }
  .card span {
    margin-bottom: 2rem;
    overflow-y: hidden;
  }

  .card i {
    color: #ffcd51;
  }
  
  .card img {
    margin-bottom: 20px;
    margin-top: 25px;
    height: 350px;
    object-fit: cover;
    overflow-y: hidden;
  }
  
  .card h3 {
    color: #17bcde;
    overflow-y: hidden;
  }
  
  .card > div {
    padding: 1rem;
    overflow-y: hidden;
  }
  
  .card:nth-child(even) img {
    order: 2;
    overflow-y: hidden;
  }
  
  .card:nth-child(even) {
    order: 2;
    overflow-y: hidden;
    grid-gap: 50px;
  }
  
  .card:nth-child(even) span {
    order: 2;
    overflow-y: hidden;
  }
  
  .form {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: larger;
    overflow-y: hidden;
  }
  
  /* .form h1 {
    justify-content: center;
    text-align: center;
    color: #17bcde;
    overflow-y: hidden;
    margin-right: 10%;
  } */
  
  @media screen and (max-width: 800px) {
    * {
      margin-left: 0px;
      padding-left: 0px;
    }
  
    .header {
      width: 100vw;
    }
  
    .p {
      justify-content: center;
      margin-bottom: 10px;
      text-align: center;
    }
    .container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .card > div {
      width: 100vw;
    }
    .card {
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center;
      justify-content: center;
    }
    .card > img {
      width: 100vw;
    }
  
    .card:nth-child(even) img {
      order: 0;
      overflow-y: hidden;
      width: 100vw;
      margin: 0%;
    }
  
    .association {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
    }
  
    .form {
      width: 100vw;
    }
    .card p {
      width: 100vw;
      overflow-x: hidden;
    }
  }
  